

/* ==========================================================================
   MODAL
   ========================================================================== */



.modal.fade {
	text-align: center;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-rs {
	width: 275px;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 275px;
}












