	
/* ==========================================================================
   ALL VIEWS
   ========================================================================== */

@font-face {
	font-family: 'Mona-Shark';
    src: url('../fonts/Mona-Shark.otf');
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: url(../img/wall.jpg);
	color: #fff; /* blanc */
}


body { margin: 0; } 
	#slider { overflow: hidden; }
	#slider figure img { width: 20%; float: left; }
	#slider figure { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slidy infinite;
}

h1 {
	margin-top: 40px;
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}


/* ==========================================================================
   HOME
   ========================================================================== */


#slider {
	margin-bottom: 40px;
	text-align: center;
}

.mapsHome {
	text-align: center;	
}

.mapsHomeMargin {
	margin-bottom: 40px;
}

.hr-footer {
	border-top: 1px solid #fff; /* blanc */
}

#bgvid {
	 
	 
}


/* ==========================================================================
   VIEWPROFILE
   ========================================================================== */





/* ==========================================================================
   UPDATEPROFILE
   ========================================================================== */

.form-group-updateProfile {
	width: 90%;
}

.blablarun {
	/*margin-right: 10px;*/
}

.btnRadioBlablarun {
	display: block;
	/*padding-top: 8px;*/
}

.checkboxLanguages {
	display: block;
}

.btnUpdateProfile {
	margin-top: 20px;
}


/* ==========================================================================
   SEEKRUN
   ========================================================================== */

.mapsSeekRun {
	text-align: center;	
}

.mapsSekkRunMargin {
	margin-bottom: 40px;
}

.hr-footer {
	border-top: 1px solid #fff; /* blanc */
}

.containerSeekRun {
	text-align: center;
}

.formSeekRun {
	display: inline-flex;
}

.divSeekRun {
	margin-right: 10px;
}

.inputFieldSeekRun {
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#btnChercherSeekRun {
	margin-bottom: 30px;
}

#citySeek {
	width: 250px;	
}

#addRunButton {
	text-align: center;
	margin-bottom: 40px;
}

.fa-map, .fa-calendar, .fa-clock-o, .fa-venus-mars {
	color: #fff;
	margin-right: 5px;
}



/* ==========================================================================
   CREATERUN PAGE
   ========================================================================== */

.form-group {
	margin-bottom: 25px;
}

#addRunButton {
	text-align: center;
	margin-bottom: 40px;
}

.form-group-createrun {
	width: 90%;
}

.col-md-12.mapsCreateRun.text-center {
    margin-bottom: 40px;
}

input[type="range"].rng {
    outline: none;
    -webkit-appearance: none;
    background-image: -moz-linear-gradient(left, #52FF00, #FF3D00);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #52FF00), color-stop(1.0, #FF3D00));
    height: 2px;
    width: 150px;
    border: solid #000 #fff 3px;
    border-radius: 2px;
    margin: 2px;
    color: #000;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #34495e;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    cursor: pointer;
    color: #000;  
}


/* ==========================================================================
   LOGIN & REGISTER
   ========================================================================== */

.hr {
	display: inline-block;
}

.ouEmail {
	margin-top: 30px;
	margin-bottom: 20px;
}

.formLoginRegister {
	margin-top: 40px;
}

.modal-content {
	width: 400px;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.btn-fb {
	width: 100%;
	background-color: #4c67a1;
	color: #fff;  /* white */
	border: 1px solid #4c67a1;
}

.btn-google {
	width: 100%;
	background-color: #fff;  /* white */
	color: #000;  /* black */
	border: 1px solid #ddd;
}

.btnModal {
	margin-top: 20px;
}

/* .btn-google:hover {
	color: #ffffff;
}  */

input {
	margin-top: 10px;
	margin-bottom: 10px;
}

#forgetPwd {
	text-align: right;
}

.modal-footer {
	text-align: left;
	color: #fff; /* white */
	margin-top: 30px;
}

label {
	font-weight: normal;
}

a {
	color: #f95947;  /* pale red */
}

a:hover {
	color: #f98e82; /* pale red */
	text-decoration: underline #f98e82;  /* pale red */
}

.cgu {
	font-size: 0.9em;
	color: #fff; /* white */
}

.btn-form {
	text-align: center;
}

#registerLink {
	text-align: center;
}

i {
	margin-right: 20px;
}

#iEmail {
	margin-right: 5px;
}


/* ==========================================================================
   FOOTER
   ========================================================================== */

#footer-rs {
	text-align: center;
    color: #fff;
}

.footer-rs {
	color: #373738;
	width: 28px;
	margin-left: 10px;
	margin-right: 10px;
    color: #fff;
}

#logo-rs {
    display: inline-flex;
    margin-top: 10px;
}

.h2-footer {
	font-weight: bold;
	font-size: 1.1em;
	color: #fff;
}

.liensFooter {
	color: #fff;
}

.col-md-8.col-md-offset-2 {
	margin-top: 30px;
}

#copyright {
	margin-top: 10px;
	font-size: 0.9em;
}

