

/* ==========================================================================
   MODAL
   ========================================================================== */

.modal-content {
	width: 400px;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.btn-fb {
	width: 275px;
	background-color: #4c67a1;
	color: #ffffff;  /* white */
	border: 1px solid #4c67a1;
}

.btn-google {
	width: 275px;
	background-color: #fff;  /* white */
	color: #000;  /* black */
	border: 1px solid #ddd;
}

/* .btn-google:hover {
	color: #ffffff;
}  */

input {
	margin-top: 10px;
	margin-bottom: 10px;
}

#forgetPwd {
	text-align: right;
}

.modal-footer {
	text-align: left;
}

label {
	font-weight: normal;
}

a {
	color: #f95947;  /* pale red */
}

.cgu {
	font-size: 0.9em;
}

#registerLink {
	text-align: center;
}

i {
	margin-right: 20px;
}

#iEmail {
	margin-right: 5px;
}
