	
/* ==========================================================================
   ALL VIEWS
   ========================================================================== */

@font-face {
	font-family: 'FunSized';
	src: url('../fonts/FunSized.ttf');
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body {
	padding-top: 50px;
	/*background: url(../img/wall.jpg);*/
	background-color: #f5f5f5; /* gris clair */
	color: #565a5c; /* gris foncé */
}

body { margin: 0; } 
	#slider { overflow: hidden; }
	#slider figure img { width: 20%; float: left; }
	#slider figure { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slidy infinite;
}

h1 {
	margin-top: 40px;
	font-size: 30px;
	font-family: "FunSized";
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

footer {
	background: url(../img/wall.jpg);
}

.hr-footer {
	border-top: 1px solid #f5f5f5; /* gris clair */
	width: 85%;
}

.container-main-content {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

.TODO {
	background-color: #7cdaee;
}


/* ==========================================================================
   HOME
   ========================================================================== */


#slider {
	margin-bottom: 40px;
	text-align: center;
}

.mapsHome {
	text-align: center;	
}


/* ==========================================================================
   VIEW_PROFILE
   ========================================================================== */

.view {
	margin-bottom: 40px;
}

.i-view {
	margin-right: 5px;
	color: #f95947; /*pale red*/
}


/* ==========================================================================
   UPDATE_PROFILE
   ========================================================================== */

.form-group-updateProfile {
	width: 90%;
}

.blablarun {
	/*margin-right: 10px;*/
}

.btnRadioBlablarun {
	display: block;
	/*padding-top: 8px;*/
}

.checkboxLanguages {
	display: block;
	margin-right: 15px;
}

#drapeaux {
	display: flex;
}

.btnUpdateProfile {
	margin-top: 20px;
}

.distancesOfficielles {
	display: flex;
}

.selectDistance {
	margin-left: 15px;
}


/* ==========================================================================
   SEEK_RUN
   ========================================================================== */

.mapsSeekRun {
	text-align: center;	
}

.mapsSekkRunMargin {
	margin-bottom: 40px;
}

.containerSeekRun {
	text-align: center;
}

.formSeekRun {
	display: inline-flex;
}

.divSeekRun {
	margin-right: 10px;
}

.inputFieldSeekRun {
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#btnChercherSeekRun {
	margin-bottom: 30px;
}

#citySeek {
	width: 250px;	
}

#addRunButton {
	text-align: center;
	margin-bottom: 40px;
}

.fa-map, .fa-calendar, .fa-clock-o, .fa-venus-mars {
	color: #565a5c; /* gris foncé */
	margin-right: 5px;
}

#titre {
	box-shadow: 10px, 10px, 5px #000;
}


/* ==========================================================================
   CREATE_RUN
   ========================================================================== */


#addRunButton {
	text-align: center;
	margin-bottom: 40px;
}

.form-group-createrun {
	width: 90%;
}

.levelBar {
	display: flex;
}

.col-md-12.mapsCreateRun.text-center {
    margin-bottom: 40px;
}

.val {
	margin-left: 15px;
}

input[type="range"].rng {
    outline: none;
    -webkit-appearance: none;
    background-image: -moz-linear-gradient(left, #52FF00, #FF3D00);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #52FF00), color-stop(1.0, #FF3D00));
    height: 2px;
    width: 150px;
    border: solid #000 #fff 3px;
    border-radius: 2px;
    margin: 2px;
    color: #000;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #34495e;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    cursor: pointer;
    color: #000;  
}


/* ==========================================================================
   RUN_PROFILE
   ========================================================================== */

.form-group-runProfile {
	display: flex;
}

.i-RunProfile {
	margin-right: 30px;
}

.runProfile {
	margin-bottom: 40px;
}


/* ==========================================================================
   LOGIN & REGISTER
   ========================================================================== */

.hr {
	display: inline-block;
}

.boxLoginRegister {
	border: 1px solid #565a5c; /* gris foncé */
	margin-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #edefed; /* gris entre clair et foncé */
}

.ouEmail {
	margin-top: 30px;
	margin-bottom: 20px;
}

.formLoginRegister {
	margin-top: 20px;
}

.modal-content {
	width: 400px;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.btn-fb {
	width: 100%;
	background-color: #4c67a1;
	color: #fff;  /* white */
	border: 1px solid #4c67a1;
}

.btn-google {
	width: 100%;
	background-color: #fff;  /* white */
	color: #000;  /* black */
	border: 1px solid #ddd;
}

.btnModal {
	margin-top: 20px;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
}

#forgetPwd {
	text-align: right;
}

.modal-footer {
	text-align: left;
	/*color: #fff;*/ /* white */
	margin-top: 30px;
}

label {
	font-weight: normal;
}

a {
	color: #f95947;  /* pale red */
}

a:hover {
	color: #f98e82; /* pale red */
	text-decoration: underline #f98e82;  /* pale red */
}

.cgu {
	font-size: 0.9em;
	/*color: #fff;*/ /* white */
}

.btn-form {
	text-align: center;
}

#registerLink {
	text-align: center;
}

i {
	margin-right: 20px;
}

#iEmail {
	margin-right: 5px;
}


/* ==========================================================================
   CGU
   ========================================================================== */

#scrollZone {
	overflow: scroll; 
	border: #000 1px solid;
	width: 80%;
	height: 400px;
	background-color: #fff; /* white */
	color: #000;
	padding: 10px;
	text-align: justify;
}


/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer-rs {
	text-align: center;
    color: #fff;
}

.footer-rs {
	color: #373738;
	width: 28px;
	margin-left: 10px;
	margin-right: 10px;
    color: #fff;
}

#logo-rs {
    display: inline-flex;
    margin-top: 10px;
}

.h2-footer {
	font-weight: bold;
	font-size: 1.1em;
	color: #fff;
}

.liensFooter {
	color: #fff;
}

#copyright {
	margin-top: 10px;
	font-size: 0.9em;
}

